{% extends "layout.html" %}
{% block body %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Category:
        <dd><input type=text size=30 name=category>
        <dt>Priority:
        <dd><input type=number name=priority>
	<dt>Description:
        <dd><input type=text size=30 name=description>
        <dd><input type=submit value=Add>
      </dl>
    </form>
   {% if entries|length > 0 %}
   <table style="width:100%">
  	<tr>
    		<th>Category</th>
    		<th>Priority</th>
    		<th>Description</th>
		<th>Completed</th>
  	</tr>
  		{% for entry in entries %}
		<tr>
    		<td>{{ entry.category }}</td> 
		<td>{{ entry.priority }}</td>
		<td>{{ entry.description }}</td>
		<td>
			<form action="{{ url_for('delete_entry') }}" method=post>
				<input type=submit value=Completed>
				<input type=hidden name=id value={{ entry.id }}>
			</form>
		</td>
    		</tr> 
  		{% endfor %}
   </table> 
   {% else %}
   <p>Nothing on the todo list!</p>
   {% endif %}

{% endblock %}


